<div class="markdownx" id="{{ widget.attrs.id }}-markdownx-container">
    <div class="tab">
        <button type="button" class="tablinks" name="Edit">Edit</button>
        <button type="button" class="tablinks" name="Preview">Preview</button>
    </div>
    <div id="Edit" class="tabcontent">
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div id="Preview" class="tabcontent">
        <div class="markdownx-preview"></div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        markdownx_apply("{{ widget.attrs.id }}");
    });
</script>
